{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'note' -%}
      <div class="product-notes gradient"{%- unless section.settings.note_background_color == blank -%} style="background: {{ section.settings.note_background_color }}"{%- endunless -%} role="region" aria-label="{{ 'sections.header.note' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          <p class="product-notes__message h5"{%- unless section.settings.note_text_color == blank -%} style="color: {{ section.settings.note_text_color }}"{%- endunless -%}>
            {%- unless block.settings.note_bar_icon == blank -%}{{ block.settings.note_bar_icon }} {%- endunless -%}{{ block.settings.text }}
          </p>
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.product-notes.name",
  "max_blocks": 12,
  "presets": [
    {
      "name": "Product Notes",
      "category": "Product Page"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "note_background_color",
      "label": "Note Background color"
    },
    {
      "type": "color",
      "id": "note_text_color",
      "label": "Note Text color"
    }
  ],
  "blocks": [
    {
      "type": "note",
      "name": "t:sections.product-notes.blocks.note.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
		      "default": "<p>Welcome to our store</p>",
          "label": "Rich Text"
        },
        {
          "type": "html",
          "id": "note_bar_icon",
          "label": "Note Bar icon",
          "info": "[View all available icons](https:\/\/fontawesome.com)"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "note"
      }
    ]
  }
}
{% endschema %}
